body {
    font-family: Lato, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, STHeiti, 'Microsoft Yahei', sans-serif;
    font-size: 16px;
    text-align: center;
    position: relative;
    line-height: 1.8;
    color: #555;
    background: #fff;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/Lato-Regular.woff") format('woff'), url("../fonts/Lato-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/Lato-Bold.woff") format('woff'), url("../fonts/Lato-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Italic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato-Italic.eot?#iefix") format('embedded-opentype'), url("../fonts/Lato-Italic.woff") format('woff'), url("../fonts/Lato-Italic.ttf") format('truetype');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-BoldItalic.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Lato-BoldItalic.eot?#iefix") format('embedded-opentype'), url("../fonts/Lato-BoldItalic.woff") format('woff'), url("../fonts/Lato-BoldItalic.ttf") format('truetype');
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.header-inner {
    position: relative;
    margin: 0 auto;
    padding: 100px 0 20px;
    width: 700px;
    height: 200px;
}

.head-content {
    display: inline-block;
    float: none;
    margin-top: 20px;
    font-size: 30px;
}

.head-content a {
    border-bottom: none;
}

.head-left {
    display: inline-block;
    float: left;
    margin-left: 70px;
    margin-top: 10px;
}

.head-right {
    display: inline-block;
    float: right;
    margin-right: 70px;
    margin-top: 10px;

}

.menu {
    display: inline-block;
    width: 700px;
    margin: 0;
    height: 120px;
}

a {
    word-wrap: break-word;
    color: #222;
    text-decoration: none;
    border-bottom: 1px solid #999;
    background-color: transparent;
}

a:link {
    text-decoration: none;
    color: #555;
}

a:visited {
    text-decoration: none;
    color: #555;
}

a:hover {
    text-decoration: none;
    color: #555;
}

a:active {
    text-decoration: none;
    color: #555;
}

pre {
    border: 1px solid #ffffff;
}

.main {
    padding-bottom: 150px
}

.content {
    width: 700px;
    margin: 0 auto;
}

.posts {
    padding-top: 40px;
}

.post-title {
    text-align: center;
    font-size: 26px;
    color: #555;
}

.post-meta {
    margin: 3px 0 60px 0;
    color: #999;
    font-size: 12px;
    text-align: center;
}

.post-body {
    text-align: justify;
}

.post-eof {
    display: block;
    margin: 160px auto 120px;
    /*width: 8%;*/
    height: 1px;
    /*background: #ccc;*/
    text-align: center;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 50px;
    font-size: 14px;
    color: #999;
}

.pagination {
    margin: 80px 0 0;
    border-top: 1px solid #eee;
    width: 700px;
    display: block;
}

.glyphicon-chevron-right {
    text-align: center;
    float: right;
    height: 12px;
}

.glyphicon-chevron-left {
    text-align: left;
    float: left;
}

.footer-inner {
    margin: 20px auto;
    width: 700px;
    text-align: center;

}

.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1050;
    width: 15px;
    height: 33px;
    padding: 5px;
    font-size: 24px;
    /*background: #222;*/
    /*color: #fff;*/
    cursor: pointer;
    -webkit-transform: translateZ(0);
}

.glyphicon-triangle-top {
    display: none;
}

.glyphicon-heart-empty {
    margin: 0 5px;
}

.glyphicon-tag {
    float: left;
    margin-left: 240px;
    margin-top: 12px;
}

.glyphicon-th-list {
    float: left;
    margin-left: 30px;
    margin-top: 12px;
}

.glyphicon-home {
    float: left;
    margin-left: 40px;
    margin-top: 4px;
    font-size: 24px;
}

.glyphicon-user {
    float: left;
    margin-left: 40px;
    margin-top: 12px;
}

.glyphicon-console {
    float: left;
    margin-left: 30px;
    margin-top: 12px;
}

.search-label {
    display: block;
}

.search {
    border: none;
    border-radius: 0;
    width: 140px;
    border-bottom: 1px solid #999;
    opacity: 0.5;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    float: left;
    margin-left: 10px;
    display: none;
}


table {
    margin-left: 90px;
    height: 190px;
}

table td {
    padding:0;
}
