{% extends "base.html" %}

{% block content %}
    <div class="posts">
        <div class="achieve-time-line" style="height: {{ height }}px"></div>
        {% for k, v in achieves.items() %}
            <div class="achieve-date-line"></div>
            <div class="achieve-date">{{ k }}</div>
            {% for i in v %}
                <div class="achieve-content"><a href="/post{{ i.url }}">{{ i.title }}</a></div>
                {% endfor %}
        {% endfor %}
        <div class="clear-fix"></div>
    </div>
{% endblock %}