<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinux's Tears</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/layout.css" rel="stylesheet">
  <link href="/static/css/pygments.css" rel="stylesheet">
</head>
<body>
  <div id="head" class="head">
      <div class="header-inner">
          <img class="head-left" src="/static/img/left.jpg" height="65" width="80">
          <div class="head-content"><a href="/">Sinux's Tears</a></div>
          <img class="head-right" src="/static/img/right.jpg" height="65" width="80">
      </div>
      <div class="menu">
          <a href="/link"><span class="glyphicon glyphicon-link"></span></a>
          <a href="/achieve"><span class="glyphicon glyphicon-th-list"></span></a>
          <a href="/"><span class="glyphicon glyphicon-home"></span></a>
          <a href="/about"><span class="glyphicon glyphicon-user"></span></a>
          <a href="#" onclick="showSearchField()"><span class="glyphicon glyphicon-console"></span></a>
          <label class="search-label">
              <input type="text" class="search">
          </label>
      </div>
  </div>
  <div id="main" class="main">
      <div id="content" class="content">
          {% block content %}
          {% endblock %}
      </div>
  </div>

  <div id="footer" class="footer">
      <div class="footer-inner">
          <div class="copyright">©&nbsp;2015&nbsp; nsinux@gmail.com &nbsp;|&nbsp;
              Powered by   &nbsp;<a href="https://github.com/shnode/tears">Tears</a>&nbsp;
          </div>
      </div>
  </div>

  <div class="back-to-top">
      <span class="glyphicon glyphicon-triangle-top" onclick="backToTop()"></span>
  </div>

  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/tears.js"></script>
</body>
</html>