<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sinux's Tears</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/layout.css" rel="stylesheet">
</head>
<body>
  <div id="head" class="head">
      <div class="header-inner">
      </div>
  </div>
  <div id="main" class="main">
    <div id="content" class="content">
    {% for i in posts %}
        <div class="posts">
            <div class="post-header">
                <h1 class="post-title">{{ i.title }}</h1>
                <div class="post-meta">
                    <span class="glyphicon glyphicon-time">{{ i.date|datetime_to_date }}&nbsp;</span>
                    <span class="glyphicon glyphicon-th">&nbsp;{{ i.categories }}&nbsp;</span>
                    <span class="glyphicon glyphicon-tags">
                        {% for tag in i.tags -%}
                            {{ tag }}&nbsp;
                        {%- endfor %}
                        </span>
                </div>
            </div>
            <div class="post-body">{{ i.content|markdown }}</div>
            <div class="post-footer">
                <div class="post-eof"></div>
            </div>
        </div>
    {% endfor %}
    </div>
  </div>
  <div id="footer" class="footer">
      <div class="footer-inner">
          <div class="copyright">©&nbsp;2015&nbsp;
              <span class="glyphicon glyphicon-heart-empty">&nbsp;Sinux</span><br/>
              Powered by <a href="https://github.com/shnode/tears">Tears</a>
          </div>
      </div>
  </div>
  <div class="back-to-top">
      <span class="glyphicon glyphicon-triangle-top"></span>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/tears.js"></script>
</body>
</html>
