{% extends "base.html" %}

{% block content %}
    {% for i in posts %}
        <div class="posts">
            <div class="post-header">
                <h1 class="post-title"><a href="/post{{ i.url }}">{{ i.title }}</a></h1>
                <div class="post-meta">
                    <span class="glyphicon glyphicon-time">&nbsp;{{ i.date|datetime_to_date }}&nbsp;</span>
                    <span class="glyphicon glyphicon-th">&nbsp;{{ i.categories }}&nbsp;</span>
                    <span class="glyphicon glyphicon-tags">
                        {% for tag in i.tags -%}
                            {{ tag }}&nbsp;
                        {%- endfor %}
                    </span>
                </div>
            </div>
            <div class="post-body">{{ i.content|markdown }}</div>
            <div class="post-footer">
                {% if not loop.last %}
                    <div class="post-eof"><img src="/static/img/eof.png" height="29" width="166"></div>
                {% else %}
                    <div class="post-eof"><img src="/static/img/eof.png" height="29" width="166" style="display: none"></div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        {% if page_num != total %}
        <a href="/posts/{{ earlier }}"><span class="glyphicon glyphicon-chevron-left">&nbsp;earlier</span></a>
        {% endif %}
        {% if page_num != 1 %}
        <a href="/posts/{{ later }}"><span class="glyphicon glyphicon-chevron-right">&nbsp;later</span></a>
        {% endif %}
    </div>
{% endblock %}