{% extends "index.html" %}

{% block content %}
    <div class="posts">
        <div class="post-header">
            <h1 class="post-title"><a href="/post{{ post.url }}">{{ post.title }}</a></h1>
            <div class="post-meta">
                <span class="glyphicon glyphicon-time">&nbsp;{{ post.date|datetime_to_date }}&nbsp;</span>
                <span class="glyphicon glyphicon-th">&nbsp;<a href="/category/{{ post.categories }}">{{ post.categories }}</a>&nbsp;</span>
                <span class="glyphicon glyphicon-tags">
                    {% for tag in post.tags -%}
                        {{ tag }}&nbsp;
                    {%- endfor %}
                </span>
            </div>
        </div>
        <div class="post-body">{{ post.content|markdown }}</div>
        <div class="post-footer">
            <br/>
            <br/>

        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{ post._id }}" data-title="{{ post.title }}" data-url="sinux.me/post{{ post.url }}"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"melodic"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
    <!-- 多说公共JS代码 end -->
            </div>
        </div>
    <div class="pagination">
    </div>
{% endblock %}